BROWSER_TAKEOVER_ENABLE=1
TAKEOVER_ROOT=/root/browser-takeover
CAMOFOX_URL=http://127.0.0.1:9377
TAKEOVER_MINT_URL=http://host.docker.internal:9388/api/mint
TAKEOVER_AGENT=agent
DISPLAY=:99
PORT=9377
VNC_PORT=5901
SCREEN_WIDTH=1440
SCREEN_HEIGHT=900
CAPSOLVER_ADDON_PATH=/root/capsolver-firefox-addon
